.root{
    display: flex;
}

.slide{
    width: 100px;
    border-right: 1px solid rgb(240, 239, 239);
    height: 100vh;
    display: flex;
    justify-content: center;
}

.main{
width: 100%;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
  }